.App {
  text-align: center;
}


table{
  border-collapse: collapse;
  box-shadow: 10px -2px 10px rgba(0,0,0,0.3);
  background-color:black;
}

td{
  width:20px;
  height:20px;
  background-color:rgba(0,0,0,0);
  border:1px solid #333; 
}

td:hover{
  background:gray;
}


.board-container{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: gray;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.cell{
  background:radial-gradient(#48ff00, #ffd900);
}

.old-cell{
  background:radial-gradient(#001aff,#008cff);
}

.legends-container{
  display:flex;
  justify-content: center;
}

.legend-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:1%;
}

.legend{
 width:40px;
 height:40px;
}