.App {
  text-align: center;
}


table{
  border-collapse: collapse;
}

td{
  width:12px;
  height:12px;
  /* border:1px solid #111; */
  background-color:black;
}

td:hover{
  background:rgba(255,255,255,0.2);
}


.board-container{
  display:flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.cell{
  background-color: #ffff00;
}

.old-cell{
  background-color: rgb(255, 0, 0);
}

.legends-container{
  display:flex;
  justify-content: space-around;
}

.legend-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.legend{
 width:40px;
 height:40px;
}